#**
 * MIT License
 * 
 * Copyright (c) 2018 i4one Interactive, LLC
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *#
#**
 * @author Hamid Badiozamani
 */
#parseVm( "base/user/template/start.vm" )

<style>
#friendref div#label h1
{
	font-size: 3.0rem;
}

#friendref .info
{
	font-size: 1.1rem;
}

#friendref .odd,
#friendref .even
{
	padding-top: 10px;
	padding-bottom: 10px;
}
#pageCSS()
</style>

<section class="container" id="friendref">
	<div class="form-group row">
		<div class="col-xs-12">#i4oneStatus('friendRef')</div>

		<div id="label" class="col-xs-12 col-md-6">
			<h1>#msg('title')</h1>
			<p>#msg('subtitle')</p>
		</div>
	
		<div id="form" class="col-xs-12 col-md-6">
			<form action="${request.requestURI}" method="post">
			#springFormHiddenInput("friendRef.user" "")
	
			<div class="form-group row">
				<div class="col-xs-12"><label for="email">#msg('email')</label></div>
				<div class="col-xs-12">#i4oneFormEmailInput('friendRef.email' '' 'required')</div>
			</div>
	
			<div class="form-group row">
				<div class="hidden-xs col-sm-6 col-md-6 col-lg-6"><label for="firstName">#msg('firstname')</label></div>
				<div class="hidden-xs col-sm-6 col-md-6 col-lg-6"><label for="lastName">#msg('lastname')</label></div>
	
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg"><label for="firstName">#msg('firstname')</label></div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">#i4oneFormInput('friendRef.firstName' '' 'required')</div>
	
				<div class="col-xs-12 hidden-sm hidden-md hidden-lg"><label for="lastName">#msg('lastname')</label></div>
				<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">#i4oneFormInput('friendRef.lastName' '' 'required')</div>
			</div>
	
			<div class="form-group row">
				<div class="col-xs-12"><label for="message">#msg('message')</label></div>
				<div class="col-xs-12">#i4oneFormTextarea('friendRef.message' '' 'required')</div>
			</div>
	
			<div class="form-group row">
				#set( $updateLabel = $model.buildMessage('msg.base.user.friendref.index.submit') )
				<div class="col-xs-12">#i4oneFormSubmit($updateLabel $friendRef)</div>
				<div class="col-xs-12">#i4oneFormBack("../index.html")</div>
			</div>
	
			</form>
		</div>
	</div>
	
	#if ( !$friendRef.pastFriendRefs.empty )
	<div class="row">
		<div id="label" class="col-xs-12">
			<h1>#msg('pastReferrals')</h1>
		</div>
	
		<div class="col-xs-12">
			<div class="row">
				<div class="hidden-xs col-sm-4 col-md-4 col-lg-4 heading name">#msg('name')</div>
				<div class="hidden-xs col-sm-4 col-md-4 col-lg-4 heading status">#msg('status')</div>
				<div class="hidden-xs col-sm-4 col-md-4 col-lg-4 heading referred">#msg('referred')</div>
			</div>
		
			#foreach ($pastFriendRef in $friendRef.pastFriendRefs)
				#striping()
				<div class="$rowClass row">
					<div class="col-xs-12 hidden-sm hidden-md hidden-lg heading name">#msg('name')</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 info name">$pastFriendRef.firstName $pastFriendRef.lastName ($pastFriendRef.email)</div>
		
					<div class="col-xs-12 hidden-sm hidden-md hidden-lg heading status">#msg('status')</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 info status">${model.buildMessage('msg.base.user.friendref.index.friendstatus', 'pastFriendRef', $pastFriendRef, 'settings', $settings)}</div>
					<div class="col-xs-12 hidden-sm hidden-md hidden-lg heading referred">#msg('referred')</div>
					<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 info credits">#dateFormat($pastFriendRef.timeStamp) #timeFormat($pastFriendRef.timeStamp)</div>
				</div>
			#end
			</div>
		</div>
	</div>
	#end

</section>
#parseVm( "base/user/template/end.vm" )
