#**
 * MIT License
 * 
 * Copyright (c) 2018 i4one Interactive, LLC
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *#
#**
 * @author Hamid Badiozamani
 */
#parseVm( "base/admin/template/terminableCrud.vm" )
#set($title = ${model.buildMessage('msg.base.admin.usermessages.update.pageTitle', 'item', $usermessage)})
#parseVm( "base/admin/template/startHead.vm" )
#parseVm( "base/admin/template/endHead.vm" )
#parseVm( "base/admin/template/startBody.vm" )

#macro( userMessageBackButton $path )
	#if ( ${path.isPast($model.timeInSeconds)} )
		#set( $terminableDisplay = "past")
	#elseif ( ${path.isFuture($model.timeInSeconds)} )
		#set( $terminableDisplay = "future")
	#else
		#set( $terminableDisplay = "live")
	#end
	#if ( $path.user.exists )
		#set( $priv = "true")
	#else
		#set( $priv = "false")
	#end
	#i4oneFormBack("index.html?display=$terminableDisplay&showPrivateMessages=$priv")
#end

<div id="crud">
	<form method="post" action="$request.requestURI">
		#springFormHiddenInput("usermessage.ser" "")
		#springFormHiddenInput("usermessage.client" "")
		<span id="jq_errors">#i4oneStatus("usermessage")</span>

		<div class="form-group row">
			<div class="col-sm-4 col-md-2"><label for="siteGroup">#msg('sitegroup')</label></div>
			<div class="col-sm-8 col-md-10">#i4oneFormSingleSelect('usermessage.siteGroup' ${siteGroups} '')</div>
		</div>

		#terminableCrud("usermessage")

		<div class="form-group row">
			<div class="col-sm-12 col-md-2"><label for="perpage">#msg('message')</label></div>
			<div class="col-sm-12 col-md-10">#i4oneFormITextarea('usermessage.message' '' 'rows="4"')</div>

			<div class="col-sm-12 col-md-2"><label for="outro">#msgWithHelp('user')</label></div>
			<div class="col-sm-12 col-md-10">#i4oneFormInput("usermessage.user.username" '' '')</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-4">#i4oneFormUpdate($usermessage)</div>
			<div class="col-sm-4">#i4oneFormHistory($usermessage)</div>
			<div class="col-sm-4">#userMessageBackButton($usermessage)</div>
		</div>
	</form>
</div>

#parseVm( "base/admin/template/endBody.vm" )
