#**
 * MIT License
 * 
 * Copyright (c) 2018 i4one Interactive, LLC
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *#
#**
 * @author Hamid Badiozamani
 *#
#parseVm( "base/user/template/start.vm" )

<style>
#facebooklogin div#label h1
{
	font-size: 3.0rem;
}
#pageCSS()
</style>

<section class="container" id="facebooklogin">
	<div class="row">
		<div class="hidden-xs col-sm-2 hidden-md hidden-lg"></div>
		<div class="col-xs-12 col-sm-8 col-md-12 col-lg-12">

			#if ( $!modelStatus.failed )
				<div id="label" class="col-xs-12">
					<h1>#msg('failed')</h1>
					<p>$modelStatus.title</p>
				</div>

				<div class="col-xs-12">
					<div class="col-xs-12 col-sm-6"><a class="btn btn-default btn-block" href="facebooklogin.html">#msg('tryagain')</a></div>
					<div class="col-xs-12 col-sm-6"><a class="btn btn-alternate btn-block btn-back" href="../index.html">#message('msg.base.general.back')</a></div>
				</div>
			#else
				<div id="label" class="col-xs-12 col-md-6">
					<h1>#msg('title')</h1>
					<p>#msg('subtitle')</p>
				</div>

				#if ( $model.AccessToken )
				<div class="col-xs-12 col-md-6">
					<div class="col-xs-12">
						<p>#msg('register')</p>
						<a class="btn btn-alternate btn-block" href="${request.baseurl}/base/user/account/facebookreg.html">#msg('registerbutton')</a>
					</div>
					<div class="col-xs-12"><h3 class="divider">#message('msg.base.user.account.facebookConnect.or')</h3></div>
					<div class="col-xs-12">
						<p>#msg('login')</p>
						<a class="btn btn-alternate btn-block" href="${request.baseurl}/base/user/account/login.html">#msg('loginbutton')</a>
					</div>
				</div>
				#else
				<div class="col-xs-12 col-md-6">
					<div class="col-xs-12 col-sm-6"><a class="btn btn-default btn-block" href="facebooklogin.html">#msg('tryagain')</a></div>
					<div class="col-xs-12 col-sm-6"><a class="btn btn-alternate btn-block btn-back" href="../index.html">#message('msg.base.general.back')</a></div>
				</div>
				#end
			#end
		</div>
		<div class="hidden-xs col-sm-2 hidden-md hidden-lg"></div>
	</div>
</section>
#parseVm( "base/user/template/end.vm" )
