#**
 * MIT License
 * 
 * Copyright (c) 2018 i4one Interactive, LLC
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *#
#**
 * @author Hamid Badiozamani
 *#
#parseVm( "base/user/template/start.vm" )

<style>
#resetpassword div#label h1
{
	font-size: 3.0rem;
}
#pageCSS()
</style>

<section class="container" id="resetpassword">
	<div class="row">
		<div class="hidden-xs col-sm-2 hidden-md hidden-lg"></div>
		<div class="col-xs-12 col-sm-8 col-md-12 col-lg-12">

			<div class="form-group row">
				<div class="col-xs-12">#i4oneStatus('user')</div>
			</div>
	
			<div id="label" class="col-xs-12 col-md-6">
				<h1>#msg('title')</h1>
				<p>#msg('subtitle')</p>
			</div>
			<div id="form" class="col-xs-12 col-md-6">
				<form action="${request.requestURI}" method="post">

				#if ( !${user.forceUpdate} )
				<div class="form-group row">
					<div class="col-xs-12"><label for="currentPassword">#msg('currentpassword')</label></div>
					<div class="col-xs-12">#i4oneFormPasswordInput('user.currentPassword' '' 'autofocus required')</div>
				</div>
				<div class="clearfix"><hr width="100%"/></div>
				#end

				<div class="form-group row">
					<div class="col-xs-12"><label for="clearPassword">#message('msg.base.user.account.password')</label></div>
					<div class="col-xs-12">#i4oneFormPasswordInput('user.clearPassword' '' 'required')</div>
				</div>

				<div class="form-group row">
					<div class="col-xs-12"><label for="confirmPassword">#message('msg.base.user.account.confirmpassword')</label></div>
					<div class="col-xs-12">#i4oneFormPasswordInput('user.confirmPassword' '' 'required')</div>
				</div>

				<div class="form-group row">
					#set( $resetSubmitLabel = $model.buildMessage('msg.base.user.account.resetpassword.submit') )
					<div class="col-xs-12">#i4oneFormSubmit($resetSubmitLabel $user)</div>
				</div>
				</form>
			</div>
		</div>
		<div class="hidden-xs col-sm-2 hidden-md hidden-lg"></div>
	</div>
</section>
#parseVm( "base/user/template/end.vm" )
