#**
 * MIT License
 * 
 * Copyright (c) 2018 i4one Interactive, LLC
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *#
#**
 * @author Hamid Badiozamani
 *#
#macro( detachTriggerableMethodButton $managerMethod $displayName $trigger $redir)
	<a class="btn btn-default btn-block" href="${request.baseurl}/base/admin/balancetriggers/detach.html?triggerid=$trigger.ser&featureid=0&featurename=$managerMethod&section=triggerable&redir=$!redir">
		#message('msg.base.admin.general.triggerable.detach')
	</a>
#end

#macro( detachTriggerableButton $item $trigger $redir)
	<a class="btn btn-default btn-block" href="${request.baseurl}/base/admin/balancetriggers/detach.html?triggerid=$trigger.ser&featureid=$item.ser&featurename=$item.featureName&section=triggerable&redir=$!redir">
		#message('msg.base.admin.general.triggerable.detach')
	</a>
#end

#macro(triggerableCrud $triggerableName $advanced )
	#pathToVar( $triggerableName 'item' )
	<a name="triggerable"></a>
	<section name="exclusivetriggers" class="form-group row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-md-12"><h3>#messageWithHelp('msg.base.admin.general.exclusivetriggers')</h3></div>
			</div>
			#foreach ( $trigger in $item.triggerable.exclusiveBalanceTriggers )
				#striping()
				#set( $currTrigger = $triggerableName + ".triggerable.exclusiveBalanceTriggers[" + $foreach.index + "]")
				#set( $currTriggerSer = $currTrigger + ".ser" )
				#set( $currTriggerAmount = $currTrigger + ".amount" )
				#set( $currTriggerBalance = $currTrigger + ".balance" )
	
				<div class="row $rowClass">
					<div class="col-sm-2"><label for="$currTriggerAmount">#message('msg.base.BalanceTrigger.amount')</label></div>
					<div class="col-sm-4">
						#springFormHiddenInput($currTriggerSer '')
						#i4oneFormInput($currTriggerAmount '' 'maxlength="9"')
					</div>
	
					<div class="col-sm-2"><label for="$currTriggerBalance">#message('msg.base.BalanceTrigger.balance')</label></div>
					<div class="col-sm-4">
						#i4oneFormSingleSelect($currTriggerBalance ${balances} '')
					</div>
				</div>

				#if ( $!advanced )
				#set( $currTriggerFrequency = $currTrigger + ".frequency")
				#set( $currTriggerMaxUserUsage = $currTrigger + ".maxUserUsage")
				#set( $currTriggerSynced = $currTrigger + ".synced")
				<div class="row $rowClass">
					<div class="col-sm-2"><label for="$currTriggerFrequency">#message('msg.base.BalanceTrigger.frequency')</label></div>
					<div class="col-sm-2">
						#i4oneFormInput($currTriggerFrequency '' 'maxlength="9"')
					</div>

					#set( $syncedLabel = ${model.buildMessage('msg.base.BalanceTrigger.synced')})
					<div class="col-sm-4">#i4oneFormCheckbox($currTriggerSynced "$syncedLabel" '')</div>

					<div class="col-sm-2"><label for="$currTriggerMaxUserUsage">#message('msg.base.BalanceTrigger.maxUserUsage')</label></div>
					<div class="col-sm-2">
						#i4oneFormInput($currTriggerMaxUserUsage '' 'maxlength="3"')
					</div>
				</div>
				#end
			#end
	
			#if ( $rowClass == 'odd' ) #set( $rowClass = 'even' ) #else #set( $rowClass = 'odd' )#end
			#set( $lastTrigger = $triggerableName + ".triggerable.exclusiveBalanceTriggers[" + ${item.triggerable.exclusiveBalanceTriggers.size()} + "]")
			#set( $lastTriggerSer = $lastTrigger + ".ser")
			#set( $lastTriggerAmount = $lastTrigger + ".amount")
			#set( $lastTriggerBalance = $lastTrigger + ".balance")
	
			<div class="row $rowClass">
				<div class="col-sm-2"><label for="$lastTriggerAmount">#message('msg.base.BalanceTrigger.amount')</label></div>
				<div class="col-sm-4">
					#springFormHiddenInput($lastTriggerSer '')
					#i4oneFormInput($lastTriggerAmount '' 'maxlength="9"')
				</div>
	
				<div class="col-sm-2"><label for="$lastTriggerBalance">#message('msg.base.BalanceTrigger.balance')</label></div>
				<div class="col-sm-4">
					#i4oneFormSingleSelect($lastTriggerBalance ${balances} '')
				</div>
			</div>

			#if ( $!advanced )
			#set( $lastTriggerFrequency = $lastTrigger + ".frequency")
			#set( $lastTriggerMaxUserUsage = $lastTrigger + ".maxUserUsage")
			#set( $lastTriggerSynced = $lastTrigger + ".synced")
			<div class="row $rowClass">
				<div class="col-sm-2"><label for="$lastTriggerFrequency">#message('msg.base.BalanceTrigger.frequency')</label></div>
				<div class="col-sm-2">
					#i4oneFormInput($lastTriggerFrequency '' 'maxlength="9"')
				</div>

				#set( $syncedLabel = ${model.buildMessage('msg.base.BalanceTrigger.synced')})
				<div class="col-sm-4">#i4oneFormCheckbox($lastTriggerSynced "$syncedLabel" '')</div>

				<div class="col-sm-2"><label for="$lastTriggerMaxUserUsage">#message('msg.base.BalanceTrigger.maxUserUsage')</label></div>
				<div class="col-sm-2">
					#i4oneFormInput($lastTriggerMaxUserUsage '' 'maxlength="3"')
				</div>
			</div>
			#end
		</div>
	</section>

	#if ( $item.exists )
	<section name="nonexclusivetriggers" class="form-group row">
		<div class="col-sm-12">
			<div class="row">
				<div class="col-md-12"><h3>#messageWithHelp('msg.base.admin.general.nonexclusivetriggers')</h3></div>
			</div>
			<div class="row hidden-xs hidden-sm">
				<div class="heading col-md-2">#message('msg.base.admin.triggerable.starttime')</div>
				<div class="heading col-md-3">#message('msg.base.admin.triggerable.title')</div>
				<div class="heading col-md-3">#message('msg.base.admin.triggerable.amount')</div>
				<div class="heading col-md-2">#message('msg.base.admin.triggerable.endtime')</div>
				<div class="heading col-md-2"></div>
			</div>
	
			#foreach ( $trigger in $item.nonExclusiveBalanceTriggers )
				#striping()
	
				<div class="row $rowClass">
					<div class="heading col-sm-3 visible-sm visible-xs">#message('msg.base.admin.triggerable.starttime')</div>
					<div class="col-sm-9 col-md-2">#formatDateTime($trigger.startTime)</div>
	
					<div class="heading col-sm-3 visible-sm visible-xs">#message('msg.base.admin.triggerable.title')</div>
					<div class="col-sm-9 col-md-3">#IString($trigger.title)</div>
	
					<div class="heading col-sm-3 visible-sm visible-xs">#message('msg.base.admin.triggerable.amount')</div>
					<div class="col-sm-9 col-md-3">$trigger.amount #IString(${trigger.balance.formatName($trigger.amount)})</div>
	
					<div class="heading col-sm-3 visible-sm visible-xs">#message('msg.base.admin.triggerable.endtime')</div>
					<div class="col-sm-9 col-md-2">#formatDateTime($trigger.endTime)</div>
	
					<div class="col-sm-12 col-md-2">#detachTriggerableButton($item $trigger)</div>
				</div>
			#end
		</div>
	</section>

	<div class="form-group row">
		#set( $attachTitle = $item.title[$language] )
		#set( $attachTitle = $esc.url($attachTitle) )
		<a class="btn btn-default btn-block" href="${request.baseurl}/base/admin/balancetriggers/attach.html?featureid=$item.ser&featurename=$item.featureName&displayname=$attachTitle">#message('msg.base.admin.general.attachbalancetrigger')</a>
	</div>

	#end
#end
