#**
 * MIT License
 * 
 * Copyright (c) 2018 i4one Interactive, LLC
 * 
 * Permission is hereby granted, free of charge, to any person obtaining a copy
 * of this software and associated documentation files (the "Software"), to deal
 * in the Software without restriction, including without limitation the rights
 * to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
 * copies of the Software, and to permit persons to whom the Software is
 * furnished to do so, subject to the following conditions:
 * 
 * The above copyright notice and this permission notice shall be included in all
 * copies or substantial portions of the Software.
 * 
 * THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
 * IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
 * FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
 * AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
 * LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
 * OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
 * SOFTWARE.
 *#
#**
 * @author Hamid Badiozamani
 *#
#set($title = ${model.buildMessage('msg.research.admin.surveys.updatequestion.pageTitle')})
#parseVm( "base/admin/template/startHead.vm" )
#parseVm( "base/admin/template/endHead.vm" )
#parseVm( "base/admin/template/startBody.vm" )

<script language="javascript">
function questionTypeChanged(event)
{
	$("select#questionType option:selected").each(function()
	{
		var optionValue = $(this).attr("value");

		$("[class*=' qt']").each(function() { $(this).addClass("hidden"); });
		$(".qt" + optionValue).each(function() { $(this).removeClass("hidden"); });
	});
}

// Hide/unhide depending on what we have as soon as we start
//
$(document).ready(function()
{
	questionTypeChanged();
	$("select#questionType").keyup(questionTypeChanged).change(questionTypeChanged);
});

</script>

<section id="crud">
	<form method="post" action="$request.requestURI" class="form">
		#springFormHiddenInput("question.ser" "")
		#springFormHiddenInput("question.survey" "")
		<span id="jq_errors">#i4oneStatus("question")</span>

		<div class="form-group row">
			<div class="col-sm-2"><label for="question">#msg('question')</label></div>
			<div class="col-sm-10">#i4oneFormITextarea("question.question" '' 'rows="4"')</div>

			<div class="col-sm-2"><label for="questionType">#msg('questiontype')</label></div>
			<div class="col-sm-10">#i4oneFormSingleSelect("question.questionType" ${validQuestionType} '')</div>

			<div class="col-sm-2 col-md-2 qt2"><label for="minresponses">#msg('minresponses')</label></div>
			<div class="col-sm-10 col-md-4 qt2">#i4oneFormInput('question.minResponses' '0' 'maxlength="4"')</div>

			<div class="col-sm-2 col-md-2 qt2"><label for="maxresponses">#msg('maxresponses')</label></div>
			<div class="col-sm-10 col-md-4 qt2">#i4oneFormInput('question.maxResponses' '0' 'maxlength="4"')</div>

			<div class="col-sm-2 qt3 qt4"><label for="validAnswer">#msg('validanswer')</div>
			<div class="col-sm-10 qt3 qt4">#i4oneFormSingleSelect("question.validAnswer" ${validAnswerTypes} '')</div>

			<div class="col-sm-12 qt0 qt1 qt2">
				#if ( !$question.answers.empty )
					<table class="table table-striped">
					<tr>
						<th>#message('msg.research.admin.surveys.updateanswer.orderweight')</th>
						<th>#message('msg.research.admin.surveys.updateanswer.answer')</th>
						<th></th>
					</tr>
					#foreach($currAnswer in $question.answers)
					<tr>
						<td>$currAnswer.orderWeight</td>
						<td>#IString($currAnswer.answer)</td>
						<td>
							<a class="btn btn-default btn-block" href="updateanswer.html?answerid=${currAnswer.ser}&questionid=${question.ser}">#message('msg.base.admin.general.update')</a>
							<a class="btn btn-default btn-block" href="cloneanswer.html?answerid=${currAnswer.ser}">#message('msg.base.admin.general.clone')</a>
							<a class="btn btn-default btn-block" href="removeanswer.html?answerid=${currAnswer.ser}">#message('msg.base.admin.general.remove')</a>
							#* <a class="btn btn-default btn-block" href="reportanswer.html?answerid=${currAnswer.ser}">#message('msg.research.admin.surveys.update.question.report')</a> *#
						</td>
					</tr>
					#end
					</table>
				#end
				#if ( $question.exists )
					<a class="btn btn-default btn-block" href="updateanswer.html?questionid=${question.ser}">#message('msg.research.admin.surveys.updateanswer.create')</a>
				#end
			</div>
		</div>

		<div class="form-group row">
			<div class="col-sm-6">#i4oneFormUpdate($question)</div>
			<div class="col-sm-6">#i4oneFormBack("update.html?id=$question.survey.ser")</div>
		</div>
	</form>
</section>

#parseVm( "base/admin/template/endBody.vm" )
